@import url('https://fonts.googleapis.com/css2?family=Acme&family=Catamaran:wght@800&family=Jost:ital,wght@1,300;1,400;1,500&family=Mukta:wght@800&family=Quicksand&display=swap');
* {
    background-color:#131313;
}
  body {
	overflow-x: hidden;
    color: white;
  }

a {
	text-decoration: none;
}
 