
* {
    background-color:#131313;
    font-family: 'Times New Roman', Times,  !important;
	font-size: 14px;
}
  body {
	overflow-x: hidden;
    color: white;
  }

a {
	text-decoration: none;
}

 
