@import url('https://fonts.googleapis.com/css2?family=Acme&family=Catamaran:wght@800&family=Jost:ital,wght@1,300;1,400;1,500&family=Mukta:wght@800&family=Quicksand&display=swap');

* {
    background-color:rgb(24,22,25);
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
  }


a {
	text-decoration: none;
}



/* TRANSITIONS */



.hidden .et-hero-tab {
	opacity: 0;
	transition: all 1s;
	transform: translateY(-100%);
}

.show .et-hero-tab {
	opacity: 1;
	transform: translateY(0);
}

.hidden .et-hero-tabs-container {
	background-color:rgb(24,22,25);
}


.show .et-hero-tabs-container {
	background-color:rgb(24,22,25);
}

.hidden .para p {
	opacity: 0;
	transition: all .75s;
	transform: scale(0);
	filter: blur(5px);
}

.show .para p {
	opacity: 1;
	transform: scale(1);
	filter: blur(0);
}

.hidden .name h1 {
	opacity: 0;
	transition: all .75s;
	transform: scale(0);
	filter: blur(5px);
}

.show .name h1 {
	opacity: 1;
	transform: scale(1);
	filter: blur(0);
}

.hidden .line2 {
	opacity: 0;
	transition: all .75s;
	transform: scale(0);
	filter: blur(5px);
}

.show .line2 {
	opacity: 1;
	transform: scale(1);
	filter: blur(0);
}

.hidden .line3 {
	opacity: 0;
	transition: all .75s;
	transform: scale(0);
	filter: blur(5px);
}

.show .line3 {
	opacity: 1;
	transform: scale(1);
	filter: blur(0);
}

.hidden .wrapper {
	opacity: 0;
	transition: all .75s;
	transform: scale(0);
	filter: blur(5px);
}

.show .wrapper {
	opacity: 1;
	transform: scale(1);
	filter: blur(0);
}

.hidden .resume {
	opacity: 0;
	transition: all .75s;
	transform: scale(0);
	filter: blur(5px);
}

.show .resume {
	opacity: 1;
	transform: scale(1);
	filter: blur(0);
}

.hidden .thick-arrow-down {
	opacity: 0;
	transition: all .75s;
	transform: scale(0);
	filter: blur(5px);
}

.show .thick-arrow-down {
	opacity: 1;
	transform: scale(1);
	filter: blur(0);
}

@media(prefers-reduced-motion){
	.hidden {
		transition: none;
	}
}



/* NAVBAR */


.et-hero-tabs-container {
	background-color:rgb(24,22,25);
	display: flex;
	flex-direction: row;
	position: absolute;
    top: 0;
    left: 0;
	width: 100%;
	height: 70px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	background: #fff;
	z-index: 10;
}

.et-hero-tab {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
    background-color: rgb(34, 32, 36);
	color: beige;
	letter-spacing: 0.2rem;
	transition: all 0.5s ease;
	font-size: 0.8rem;
}
.et-hero-tab:hover {
		color: white;
		background: rgb(62, 59, 65);
		transition: all 0.5s ease;
	}


/* ICONS */

.contacts {
	z-index: 2;
	position: fixed;
	top: 100px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
	position: absolute;
	left: 15px;
	top: 700px;
	background: transparent;
	color: white;
}


.fa-youtube {
	position: absolute;
	left: 15px;
	top: 650px;
	background: transparent;
	color: white;
}

.fa-github {
	position: absolute;
	left: 15px;
	top: 600px;
	background: transparent;
	color: white;
}

.line {
	position: fixed;
	z-index: 2;
	background: #fff;
	left: 29px;
	top: 850px;
	width: 1px;
	height: 150px;
	z-index: 10;
}

/* HOME PAGE */

.name h1 {
	position: absolute;
	background-color: transparent;
	text-align: center;
	font-family: 'Jost' , sans-serif;
	left: 785px;
	top: 250px;
	color: beige;
	line-height: 90%;
	font-size: 60px;
	z-index: 10;
	}
	
	.name h1 span {
		background: -webkit-linear-gradient(#647DEE, #7F53AC);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	
	.para p {
		position: absolute;
		background-color: transparent;
		top: 400px;
		left: 800px;
		text-align: center;
		color: beige;
		display: grid;
		z-index: 10;
	}

	.line2 {
		position: absolute;
		z-index: 2;
		background: #fff;
		left: 875px;
		top: 385px;
		width: 150px;
		height: 1px;
		z-index: 10;
	}

	.line3 {
		position: absolute;
		z-index: 2;
		background: #fff;
		left: 950px;
		top: 525px;
		width: 1px;
		height: 75px;
		z-index: 10;
	}

	.resume {
		position: absolute;
		background: beige;
		color: #000;
		width: 125px;
		height: 40px;
		border-radius: 50px;
		text-decoration: none;
		top: 545px;
		left: 800px;

		transition: .5s all;
	}

	.resume:hover {
		transform: scale(1.1);
		cursor: pointer;
	}

	.resume a {
		position: relative;
		font-family: 'Jost', sans-serif;
		font-size: 20px;
        font-weight: bold;
		left: 30px;
		top: 4.5px;
		text-align: center;
		background: transparent;
	}

	.thick-arrow-down {
		position: absolute;
		background-color: transparent;
		left: 933px;
		width: 25px;
		height: 25px;
		border: 10px solid beige;
		border-left: 0;
		border-top: 0;
	  
		animation: moveDown 2s linear infinite;
	  }

	  @-webkit-keyframes moveDown {
		0% {
		  top: 700px;
		  transform: rotate(45deg);
		}
		50% {
		  top: 775px;
		  transform: rotate(45deg);
		}
		100% {
		  top: 700px;
		  transform: rotate(45deg);
		}
	  }


	.wrapper{
		display: flex;
		position: absolute;
		top: 500px;
		background-color: transparent;
		left: 925px;
		z-index: -3;
	  }
	  .wrapper .static-txt{
		background-color: transparent;
		color: #fff;
		font-size: 60px;
		font-weight: 400;
	  }
	  .wrapper .dynamic-txts{
		background-color: transparent;
		margin-left: 15px;
		height: 90px;
		line-height: 90px;
		overflow: hidden;
	  }
	  .dynamic-txts li{
		width: 300px;
		background-color: transparent;
		list-style: none;
		color: beige;
		font-size: 60px;
		font-weight: 500;
		position: relative;
		top: 0;
		animation: slide 12s steps(4) infinite;
	  }
	  @keyframes slide {
		100%{
		  top: -360px;
		}
	  }
	  .dynamic-txts li span{
		position: relative;
		margin: 5px 0;
		line-height: 90px;
	  }
	  .dynamic-txts li span::after{
		content: "";
		position: absolute;
		left: 0;
		height: 120%;
		width: 100%;
		background: rgb(24,22,25);
		border-left: 3px solid #ffffff;
		animation: typing 3s steps(10) infinite;
	  }
	  @keyframes typing {
		20%, 40%, 60%{
		  left: calc(100% + 10px);
		}
		100%{
		  left: 0;
		}
	  }

 
/* EXPERIENCE PAGE */

#exp {
position: absolute;
top: 1000px;
}

#exp-point {
	position: absolute;
	top: 600px;
}


.exp-left { 
	position: absolute;
	left: 500px;
	width: 950px;
	height: 300px;
	background: rgb(34, 32, 36);
	border-radius: 80px;
  }

  .exp-left p {
	font-family: 'Quicksand', sans-serif;
	position: relative;
	background: transparent;
	top: 20px;
	left: 75px;
	width: 600px;
	height: 200px;
	color: rgb(182,163,136);
	font-weight: 500;
	text-align: left;
	font-size: 25px;
  }

  .exp-left p span {
	background-color: transparent;
	font-weight: bolder;
	color: rgb(202, 185, 161);
  }

.exp-right { 
	position: absolute;
	left: 500px;
	width: 950px;
	height: 300px;
	background:rgb(182,163,136);
	border-radius: 80px;
  }

  .exp-right p {
	-webkit-font-smoothing: antialiased;
	font-family: 'Jost', sans-serif;
	position: relative;
	background: transparent;
	top: 10px;
	margin-left: auto;
    margin-right: auto;
	margin-top: 100px;
	width: 650px;
	height: 250px;
	color: rgb(24,22,25);
	text-align: center;
	font-weight: bolder;
	font-size: 40px;
  }

[data-inviewport="scale-left"] { 
	transition: 1s;
	transform: translateX(0);
  }
  [data-inviewport="scale-left"].is-inViewport { 
	transform: translateX(-400px);
  }

  [data-inviewport="scale-right"] { 
	transition: 1s;
	transform: translateX(0);
  }
  [data-inviewport="scale-right"].is-inViewport { 
	transform: translateX(320px);
  }









/* PROJECTS PAGE */

#project {
	position: absolute;
	top: 1500px;
}

#project-point {
	position: absolute;
	top: 1475px;
}

.project1 {
	position: absolute;
	left: 100px;
	width: 1670px;
	height: 450px;
	background: rgb(204,204,204);
	border-radius: 86px;
	transition: .1s all;
}

.project1 h1 {
	font-family: 'Jost', sans-serif;
	position: relative;
    text-align: center;
	top: 175px;
	left: 0px;
    background: transparent;
}

.project1.is-inViewport:hover {
	transform: scale(.975);
	cursor: pointer;
}

a.more {
	position: relative;
	color: #000;
	z-index: 3;
	cursor: pointer;
	top: -50px;
    left: 100px;
	font-family: 'Jost', sans-serif;
	width: 50px;
	font-size: 20px;
	text-align: center;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: bold;
	border-radius: 20px;
	background: transparent;
	border: black solid 1px;
	transition:.1s all;
}

a.more:hover {
	background: rgb(182, 182, 182);
	transform: scale(1.05);
}

a.code {
	position: relative;
	color: #000;
	z-index: 3;
	cursor: pointer;
	top: -50px;
    left: 125px;
	font-family: 'Jost', sans-serif;
	width: 50px;
	font-size: 20px;
	text-align: center;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: bold;
	border-radius: 20px;
	background: transparent;
	border: black solid 1px;
	transition:.1s all;
}

a.code:hover {
	background: rgb(182, 182, 182);
	transform: scale(1.05);
}

a.site {
	position: absolute;
	background-color: transparent;
	top: 43px;
    right: 50px;
	width: 25px;
	height: 25px;
	border: 7px solid rgb(0, 0, 0);
	border-left: 0;
	border-top: 0;
	transform: rotate(-90deg);
}

[data-inviewport="fade-in"] { 
	transition: 1.5s;
	filter: blur(1px);
	opacity: 0;
	transform: scale(0);
  }
  [data-inviewport="fade-in"].is-inViewport { 
	filter: blur(0);
	opacity: 1;
	transform: scale(1);
  }

.project2 {
	position: absolute;
	top: 475px;
	left: 100px;
	width: 1670px;
	height: 450px;
	background:rgb(160,139,101);
	border-radius: 86px;
	transition: .1s all;
}

.project2 h1 {
	font-family: 'Jost', sans-serif;
	position: relative;
    text-align: center;
	top: 175px;
	left: 0px;
    background: transparent;
}

.project2.is-inViewport:hover {
	transform: scale(.975);
	cursor: pointer;
}

a.more1 {
	position: relative;
	color: #000;
	z-index: 3;
	cursor: pointer;
	top: -50px;
    left: 100px;
	font-family: 'Jost', sans-serif;
	width: 50px;
	font-size: 20px;
	text-align: center;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: bold;
	border-radius: 20px;
	background: transparent;
	border: black solid 1px;
	transition:.1s all;
}

a.more1:hover {
	background:rgb(161, 146, 115);
	transform: scale(1.05);
}

a.code1 {
	position: relative;
	color: #000;
	z-index: 3;
	cursor: pointer;
	top: -50px;
    left: 125px;
	font-family: 'Jost', sans-serif;
	width: 50px;
	font-size: 20px;
	text-align: center;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: bold;
	border-radius: 20px;
	background: transparent;
	border: black solid 1px;
	transition:.1s all;
}

a.code1:hover {
	background: rgb(161, 146, 115);
	transform: scale(1.05);
}

a.site1 {
	position: absolute;
	background-color: transparent;
	top: 43px;
    right: 50px;
	width: 25px;
	height: 25px;
	border: 7px solid rgb(0, 0, 0);
	border-left: 0;
	border-top: 0;
	transform: rotate(-90deg);
}

[data-inviewport="fade-in1"] { 
	transition: 1.5s;
	filter: blur(1px);
	opacity: 0;
	transform: scale(0);
  }
  [data-inviewport="fade-in1"].is-inViewport { 
	filter: blur(0);
	opacity: 1;
	transform: scale(1);
  }







/* ABOUT PAGE */


#about {
	position: absolute;
	top: 2850px;
}

#about-point {
	position: absolute;
	top: 2500px;
}

.text {
	position: absolute;
	left: 100px;
	border-radius: 90px;
	top: -150px;
	width: 1670px;
	height: 650px;
	background: rgb(34, 32, 36);
}

.text p{
	position: absolute;
	background: transparent;
	top: 25px;
	width: 500px;
	left: 825px;
	height: 175px;
	font-size: 17.5px;
	font-family: 'Quicksand', sans-serif;
	color: beige;
	padding: 40px;
}

.text p span{
	background: transparent;
	font-weight: bold;
	font-size: 25px;
}

.text img {
	position: relative;
	z-index: 3;
	top: 65px;
	left: 430px;
    right: 100px;
	height: 500px;
	width: 400px;
	border-radius: 75px;
	max-width: 100%;
}





/* CONTACT PAGE */

#contact {
	position: absolute;
	top: 3650px;
	transition: .5s all;
}

.footer {
	color: #fff;
}

.footer h1 {
	position: relative;
	font-family: 'Jost', sans-serif;
	font-size: 45px;
	left: 135px;
	top: 20px;
	background: transparent;
	transition: .5s all;
}

.footer p {
	position: relative;
	font-family: 'Quicksand', sans-serif;
	background: transparent;
	top: 50px;
	left: 135px;
	transition: .5s all;
}

.footer span {
	position: relative;
    font-family: 'Quicksand', sans-serif;
	top: 50px;
	font-size: 10px;
	left: 135px;
	background: transparent;
	transition: .5s all;
}

.footer h2 {
	position: absolute;
    font-family: 'Jost', sans-serif;
	font-size: 40px;
	top: 25px;
    left: 1500px;
	background: transparent;
	transition: .5s all;
}

.footer .lineName {
	position: relative;
    top: 50px;
	left: 135px;
	width: 75px;
	height: 3px;
	background: white;
	transition: .5s all;
}

.footer .lineCon {
	position: absolute;
    top: 50px;
	left: 1500px;
	width: 75px;
	height: 3px;
	background: white;
	transition: .5s all;
}

.footer .copy {
	position: absolute;
    top: 210px;
	background: transparent;
    left: 0px;
}

.footer .contact-info {
	position: absolute;
    top: 175px;
    left: 1500px;
	text-align: left;
	background: transparent;
	text-decoration: none;
	transition: .5s all;
}

.footer .contact-info p {
	position: absolute;
    top: 0px;
    left: 0px;
	text-align: left;
	background: transparent;
	text-decoration: none;
	transition: .5s all;
}

.footer .contact-info a {
	position: absolute;
	color: beige;
    top: -50px;
    left: 0px;
	text-align: left;
	background: transparent;
	text-decoration: none;
	transition: .5s all;
}

.footer .contact-info a span {
	position: absolute;
	color: beige;
    top: 40px;
	font-size: 15px;
	width: 100px;
    left: 0px;
	text-align: left;
	background: transparent;
	text-decoration: none;
	transition: .5s all;
}

.footer .contact-info address {
	position: absolute;
    top: 50px;
	width: 150px;
    left: 0px;
	text-align: left;
	background: transparent;
	text-decoration: none;
	transition: .5s all;
}

[data-inviewport="fade-inNew"] { 
	transition: 1.5s;
	transform: translateX(100%);
  }
  
  [data-inviewport="fade-inNew"].is-inViewport { 
	transform: translateX(0);
  }

/* MEDIA QUERIES */

@media (min-width: 300px) and (max-width: 325px) {
	.is-inViewport {
		-webkit-transition: none !important;
		-moz-transition: none !important;
		-o-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
	}

	.et-hero-tabs-container {
		visibility: hidden;
		max-height: 0;
		display: none;
	}

	.name h1 {
		top: 100px;
		left: 15px;
		font-size: 50px;
	}

	.line2 {
		top: 225px;
		left: 85px;
	}


	.line3 {
		top: 375px;
		left: 25px;
	}

	.para p {
		top: 250px;
		left: 15px;
	}

	.resume {
		top: 550px;
		left: 100px;
	}

	.wrapper {
		left: -10px;
		top: 350px;
	}

	.thick-arrow-down {
		left: 147px;
	}

	/* Experiecne Page */

	.exp-right {
		visibility: hidden;
		max-height: 0;
		display: none;
	}

	.exp-left {
		width: 500px;
		height: 400px;
		left: 300px;
	}

	.exp-right p {
		visibility: hidden;
		max-height: 0;
		display: none;
	}

	.exp-left p {
		font-size: 25px;
		width: 200px;
		left: 160px;
		font-size: 17.5px;
		top: 25px;
	}
	
		/* Project Page */
		.project1 {
            width: 350px;
			left: -10px;
        }

		.project2 {
            width: 350px;
			left: -10px;
        }

		
		.project1 .code {
			top: 40px;
			left: 125px;
		}

		.project1 .more {
			top: 40px;
			left: 65px;
		}

		.project2 .code1 {
			top: 40px;
			left: 125px;
		}

		.project2 .more1 {
			top: 40px;
			left: 65px;
		}

		/* About Page */

		.text {
			width: 305px;
			left: 0;
		}
		
		#about p {
			left: 20px;
			top: 10px;
			width: 200px;
			font-size: 12.5px;
		}
		
		#about span {
			font-size: 12.5px;
		}
		
		#about img {
			visibility: hidden;
			max-height: 0;
			display: none;
		}

		/* Footer Page */


		.footer {
			width: 320px;
			border-top-left-radius: 0;
			left: -8px;
		}

		#contact h1 {
			left: 25px;
		}

		#contact .lineName {
			left: 25px;
		}
	
		#contact h2 {
			left: 200px;
		}
	
		#contact .lineCon {
			left: 200px;
		}
	
		#contact a {
			left: -1300px;
		}
	
		#contact address {
			left: -1300px;
			top: 20px;
		}

		#contact p {
			visibility: hidden;
			max-height: 0;
			display: none;
		}

		.contacts .fa-github {
			top: 625px;
		}
		.contacts .fa-youtube {
			top: 660px;
		}

		.copy span {
			left: 30px;
		}
}

@media (min-width: 325px) and (max-width: 350px) {
	.is-inViewport {
		-webkit-transition: none !important;
		-moz-transition: none !important;
		-o-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
	}

	.et-hero-tabs-container {
		visibility: hidden;
		max-height: 0;
		display: none;
	}

	.name h1 {
		top: 100px;
		left: 30px;
		font-size: 50px;
	}

	.line2 {
		top: 225px;
		left: 105px;
	}


	.line3 {
		top: 350px;
		left: 40px;
	}

	.para p {
		top: 250px;
		left: 20px;
	}

	.resume {
		top: 500px;
		left: 113px;
	}

	.wrapper {
		left: 15px;
		top: 325px;
	}

	.thick-arrow-down {
		left: 160px;
	}

	/* Experiecne Page */

	.exp-right {
		visibility: hidden;
		max-height: 0;
		display: none;
	}

	.exp-left {
		width: 500px;
		height: 400px;
		left: 300px;
	}

	.exp-right p {
		visibility: hidden;
		max-height: 0;
		display: none;
	}

	.exp-left p {
		font-size: 25px;
		width: 250px;
		left: 150px;
		font-size: 17.5px;
		top: 50px;
	}
	
		/* Project Page */
		.project1 {
            width: 350px;
			left: -8px;
        }

		.project2 {
            width: 350px;
			left: -8px;
        }

		
		.project1 .code {
			top: 40px;
			left: 125px;
		}

		.project1 .more {
			top: 40px;
			left: 65px;
		}

		.project2 .code1 {
			top: 40px;
			left: 125px;
		}

		.project2 .more1 {
			top: 40px;
			left: 65px;
		}
		


		/* About Page */

		.text {
			width: 322px;
			left: 0px;
		}
		
		#about p {
			left: 30px;
			top: 10px;
			width: 200px;
			font-size: 12.5px;
		}
		
		#about span {
			font-size: 12.5px;
		}
		
		#about img {
			visibility: hidden;
			max-height: 0;
			display: none;
		}

		/* Footer Page */

		.footer {
			width: 338px;
			border-top-left-radius: 0;
			left: -8px;
		}

		#contact h1 {
			left: 25px;
		}

		#contact .lineName {
			left: 25px;
		}
	
		#contact h2 {
			left: 180px;
		}
	
		#contact .lineCon {
			left: 180px;
		}
	
		#contact a {
			left: -1320px;
		}
	
		#contact address {
			left: -1320px;
			top: 20px;
		}

		#contact p {
			visibility: hidden;
			max-height: 0;
			display: none;
		}

		.contacts .fa-github {
			top: 625px;
		}
		.contacts .fa-youtube {
			top: 660px;
		}
		.copy span {
			left: 35px;
		}
}

@media (min-width: 350px) and (max-width: 375px) {
	.is-inViewport {
		-webkit-transition: none !important;
		-moz-transition: none !important;
		-o-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
	}

	.et-hero-tabs-container {
		visibility: hidden;
		max-height: 0;
		display: none;
	}

	.name h1 {
		top: 100px;
		left: 70px;
		font-size: 50px;
	}

	.line2 {
		top: 225px;
		left: 145px;
	}


	.line3 {
		top: 375px;
		left: 80px;
	}

	.para p {
		top: 250px;
		left: 60px;
	}

	.resume {
		top: 500px;
		left: 153px;
	}

	.wrapper {
		left: 55px;
		top: 350px;
	}

	.thick-arrow-down {
		left: 200px;
	}

	/* Experiecne Page */

	.exp-right {
		visibility: hidden;
		max-height: 0;
		display: none;
	}

	.exp-left {
		width: 600px;
		height: 400px;
		left: 300px;
	}

	.exp-right p {
		visibility: hidden;
		max-height: 0;
		display: none;
	}

	.exp-left p {
		font-size: 25px;
		width: 250px;
		left: 185px;
		font-size: 17.5px;
		top: 50px;
	}
	
		/* Project Page */
		.project1 {
            width: 350px;
			left: 35px;
        }

		.project2 {
            width: 350px;
			left: 35px;
        }

		
		.project1 .code {
			top: 40px;
			left: 125px;
		}

		.project1 .more {
			top: 40px;
			left: 65px;
		}

		.project2 .code1 {
			top: 40px;
			left: 125px;
		}

		.project2 .more1 {
			top: 40px;
			left: 65px;
		}
		


		/* About Page */

		.text {
			width: 350px;
			left: 35px;
		}
		
		#about p {
			left: 30px;
			top: 30px;
			width: 215px;
			font-size: 12.5px;
		}
		
		#about span {
			font-size: 12.5px;
		}
		
		#about img {
			visibility: hidden;
			max-height: 0;
			display: none;
		}

		/* Footer Page */

		.footer {
			width: 375px;
			border-top-left-radius: 0;
			left: 20px;
		}

		#contact h1 {
			left: 100px;
		}

		#contact .lineName {
			left: 100px;
		}
	
		#contact h2 {
			left: 225px;
		}
	
		#contact .lineCon {
			left: 225px;
		}
	
		#contact a {
			left: -1275px;
		}
	
		#contact address {
			left: -1275px;
			top: 20px;
		}

		#contact p {
			visibility: hidden;
			max-height: 0;
			display: none;
		}

		.contacts .fa-github {
			top: 625px;
		}
		.contacts .fa-youtube {
			top: 660px;
		}
		.copy span {
			left: 105px;
		}
}

@media (min-width: 375px) and (max-width: 400px) {
	.is-inViewport {
		-webkit-transition: none !important;
		-moz-transition: none !important;
		-o-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
	}

	.et-hero-tabs-container {
		visibility: hidden;
		max-height: 0;
		display: none;
	}

	.name h1 {
		top: 100px;
		left: 70px;
		font-size: 50px;
	}

	.line2 {
		top: 225px;
		left: 145px;
	}


	.line3 {
		top: 375px;
		left: 80px;
	}

	.para p {
		top: 250px;
		left: 60px;
	}

	.resume {
		top: 500px;
		left: 153px;
	}

	.wrapper {
		left: 55px;
		top: 350px;
	}

	.thick-arrow-down {
		left: 200px;
	}

	/* Experiecne Page */

	.exp-right {
		visibility: hidden;
		max-height: 0;
		display: none;
	}

	.exp-left {
		width: 600px;
		height: 400px;
		left: 300px;
	}

	.exp-right p {
		visibility: hidden;
		max-height: 0;
		display: none;
	}

	.exp-left p {
		font-size: 25px;
		width: 250px;
		left: 185px;
		font-size: 17.5px;
		top: 50px;
	}
	
		/* Project Page */
		.project1 {
            width: 350px;
			left: 25px;
        }

		.project2 {
            width: 350px;
			left: 25px;
        }

		
		.project1 .code {
			top: 40px;
			left: 125px;
		}

		.project1 .more {
			top: 40px;
			left: 65px;
		}

		.project2 .code1 {
			top: 40px;
			left: 125px;
		}

		.project2 .more1 {
			top: 40px;
			left: 65px;
		}
		


		/* About Page */

		.text {
			width: 350px;
			left: 30px;
		}
		
		#about p {
			left: 30px;
			top: 30px;
			width: 215px;
			font-size: 12.5px;
		}
		
		#about span {
			font-size: 12.5px;
		}
		
		#about img {
			visibility: hidden;
			max-height: 0;
			display: none;
		}

		/* Footer Page */

		.footer {
			width: 400px;
			border-top-left-radius: 0;
			left: 40px;
		}

		#contact h1 {
			left: 25px;
		}

		#contact .lineName {
			left: 25px;
		}
	
		#contact h2 {
			left: 200px;
		}
	
		#contact .lineCon {
			left: 200px;
		}
	
		#contact a {
			left: -1300px;
		}
	
		#contact address {
			left: -1300px;
			top: 20px;
		}

		#contact p {
			visibility: hidden;
			max-height: 0;
			display: none;
		}

		.contacts .fa-github {
			top: 625px;
		}
		.contacts .fa-youtube {
			top: 660px;
		}
		.copy span {
			left: 35px;
		}
}

@media (min-width: 400px) and (max-width: 500px) {
	.is-inViewport {
		-webkit-transition: none !important;
		-moz-transition: none !important;
		-o-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
	}
	.et-hero-tabs-container {
		visibility: hidden;
		max-height: 0;
		display: none;
	}

	.name h1 {
		top: 100px;
		left: 25px;
	}

	.line2 {
		top: 225px;
		left: 115px;
	}


	.line3 {
		top: 350px;
		left: 50px;
	}

	.para p {
		top: 250px;
		left: 45px;
	}

	.resume {
		top: 500px;
		left: 135px;
	}

	.wrapper {
		left: 25px;
		top: 325px;
	}

	.thick-arrow-down {
		left: 180px;
	}

	/* Experiecne Page */

	.exp-right {
		visibility: hidden;
		max-height: 0;
		display: none;
	}

	.exp-left {
		width: 405px;
		height: 350px;
		left: 380px;
	}

	.exp-right p {
		visibility: hidden;
		max-height: 0;
		display: none;
	}

	.exp-left p {
		font-size: 25px;
		width: 350px;
		left: 40px;
		font-size: 17.5px;
		top: 50px;
	}
	
		/* Project Page */
		.project1 {
            width: 350px;
			left: 12.5px;
        }

		.project2 {
            width: 350px;
			left: 12.5px;
        }

		
		.project1 .code {
			top: 40px;
			left: 125px;
		}

		.project1 .more {
			top: 40px;
			left: 65px;
		}

		.project2 .code1 {
			top: 40px;
			left: 125px;
		}

		.project2 .more1 {
			top: 40px;
			left: 65px;
		}
		

		/* About Page */

		.text {
			width: 250px;
			left: 0px;
		}

		/* About Page */

		.text {
			width: 375px;
		}
		
		#about p {
			left: 50px;
			top: 10px;
			width: 200px;
			font-size: 12.5px;
		}
		
		#about span {
			font-size: 12.5px;
		}
		
		#about img {
			visibility: hidden;
			max-height: 0;
			display: none;
		}

		/* Footer Page */

		.footer {
			width: 390px;
			border-top-left-radius: 0;
			left: -8px;
		}

		#contact h1 {
			left: 25px;
		}

		#contact .lineName {
			left: 25px;
		}
	
		#contact h2 {
			left: 200px;
		}
	
		#contact .lineCon {
			left: 200px;
		}
	
		#contact a {
			left: -1300px;
		}
	
		#contact address {
			left: -1300px;
			top: 20px;
		}

		#contact p {
			visibility: hidden;
			max-height: 0;
			display: none;
		}
}

  @media (min-width: 500px) and (max-width: 600px) {
	.et-hero-tabs-container {
		visibility: hidden;
	}

	.name h1 {
		left: 130px;
	}

	.line2 {
		left: 220px;
	}


	.line3 {
		left: 295px;
	}

	.para p {
		left: 150px;
	}

	.resume {
		left: 140px;
	}

	.wrapper {
		left: 265px;
	}

	.thick-arrow-down {
		left: 278px;
	}

	/* Experiecne Page */

	.exp-right {
		visibility: hidden;
		max-height: 0;
		display: none;
	}

	.exp-left {
		width: 450px;
		height: 350px;
		animation: none;
	}

	.exp-right p {
		visibility: hidden;
		max-height: 0;
		display: none;
	}

	.exp-left p {
		font-size: 25px;
		width: 350px;
		font-size: 20px;
	}
	
		/* Project Page */
		.project1 {
            width: 250px;
        }

		.project2 {
            width: 250px;
        }

		
		.project1 .code {
			top: 0px;
			left: 60px;
		}

		.project1 .more {
			top: 0px;
			left: 25px;
		}

		.project2 .code1 {
			top: 0px;
			left: 60px;
		}

		.project2 .more1 {
			top: 0px;
			left: 25px;
		}

		/* About Page */

		.text {
			width: 250px;
		}

		/* About Page */

		.text {
			width: 375px;
		}
		
		#about p {
			left: 50px;
			top: 10px;
			width: 200px;
			font-size: 12.5px;
		}
		
		#about span {
			font-size: 12.5px;
		}
		
		#about img {
			visibility: hidden;
			max-height: 0;
			display: none;
		}

		/* Footer Page */

		.footer {
			width: 675px;
		}
	
		#contact h2 {
			left: 300px;
		}
	
		#contact .lineCon {
			left: 300px;
		}
	
		#contact a {
			left: -1200px;
		}
	
		#contact address {
			left: -1200px;
			top: 60px;
		}

		#contact p {
			visibility: hidden;
			max-height: 0;
			display: none;
		}
}

  @media (min-width: 600px) and (max-width: 700px) {
	.et-hero-tabs-container {
		visibility: hidden;
		max-height: 0;
		display: none;
	}

	.name h1 {
		left: 180px;
	}

	.line2 {
		left: 270px;
	}


	.line3 {
		left: 345px;
	}

	.para p {
		left: 200px;
	}

	.resume {
		left: 190px;
	}

	.wrapper {
		left: 315px;
	}

	.thick-arrow-down {
		left: 328px;
	}

	/* Experiecne Page */

	.exp-right {
		visibility: hidden;
		max-height: 0;
		display: none;
	}

	.exp-left {
		width: 500px;
		height: 350px;
		animation: none;
	}

	.exp-right p {
		visibility: hidden;
		max-height: 0;
		display: none;
	}

	.exp-left p {
		font-size: 25px;
		width: 350px;
		font-size: 20px;
	}

			
		/* Project Page */
		.project1 {
            width: 450px;
        }

		.project2 {
            width: 450px;
        }

		/* About Page */

		.text {
			width: 450px;
		}
		
		#about p {
			left: 50px;
			top: 10px;
			width: 300px;
			font-size: 15.5px;
		}
		
		#about span {
			font-size: 15.5px;
		}
		
		#about img {
			visibility: hidden;
			max-height: 0;
			display: none;
		}

		/* Footer Page */

		.footer {
			width: 675px;
		}
	
		#contact h2 {
			left: 300px;
		}
	
		#contact .lineCon {
			left: 300px;
		}
	
		#contact a {
			left: -1200px;
		}
	
		#contact address {
			left: -1200px;
		}

		#contact p {
			visibility: hidden;
			max-height: 0;
			display: none;
		}
}

	@media (min-width: 700px) and (max-width: 900px) {
		.name h1 {
			left: 280px;
		}

		.line2 {
			left: 370px;
		}


		.line3 {
			left: 445px;
		}

		.para p {
			left: 300px;
		}

		.resume {
			left: 290px;
		}

		.wrapper {
			left: 415px;
		}

		.thick-arrow-down {
			left: 428px;
		}

		/* Experiecne Page */

		.exp-right {
			visibility: hidden;
			max-height: 0;
			display: none;
		}
	
		.exp-left {
			width: 650px;
			height: 325px;
			animation: none;
		}
	
		.exp-right p {
			visibility: hidden;
			max-height: 0;
			display: none;
		}
	
		.exp-left p {
			font-size: 20px;
			width: 500px;
			font-size: 22.5px;
		}
				
		/* Project Page */
		.project1 {
            width: 650px;
        }

		.project2 {
            width: 650px;
        }

		/* About Page */

		.text {
			width: 650px;
		}

		/* About Page */

		.text {
			width: 650px;
		}
	
		#about p {
			left: 50px;
			top: 10px;
			width: 500px;
			font-size: 20px;
		}
	
		#about span {
			font-size: 20px;
		}
	
		#about img {
			visibility: hidden;
			max-height: 0;
			display: none;
		}

		/* Footer Page */

		.footer {
			width: 875px;
		}
	
		#contact h2 {
			left: 525px;
		}
	
		#contact .lineCon {
			left: 525px;
		}
	
		#contact a {
			left: -975px;
		}
	
		#contact address {
			left: -975px;
		}
	}
	
	@media (min-width: 900px) and (max-width: 1100px) {
		.name h1 {
			left: 380px;
		}

		.line2 {
			left: 470px;
		}


		.line3 {
			left: 545px;
		}

		.para p {
			left: 400px;
		}

		.resume {
			left: 390px;
		}

		.wrapper {
			left: 515px;
		}

		.thick-arrow-down {
			left: 528px;
		}

				/* Experiecne Page */

		.exp-right {
			width: 450px;
			animation: none;
			left: 250px;
			height: 325px;
		}

		.exp-left {
			width: 450px;
			height: 325px;
			animation: none;
		}

		.exp-right p {
			font-size: 30px;
			width: 400px;
		}

		.exp-left p {
			font-size: 20px;
			width: 335px;
		}

		
		/* Project Page */
		.project1 {
            width: 850px;
        }

		.project2 {
            width: 850px;
        }

		/* About Page */

		.text {
			width: 850px;
		}

		#about p {
			left: 325px;
			top: 75px;
			width: 400px;
			font-size: 15px;
		}

		#about span {
			font-size: 15px;
		}



		#about img {
			left: 50px;
			top: 125px;
			width: 300px;
			height: 400px;
		}

		/* Footer Page */

		.footer {
			width: 1075px;
		}
	
		#contact h2 {
			left: 725px;
		}
	
		#contact .lineCon {
			left: 725px;
		}
	
		#contact a {
			left: -775px;
		}
	
		#contact address {
			left: -775px;
		}
	}
	

	
	@media (min-width: 1100px) and (max-width: 1300px) {
		.name h1 {
			left: 480px;
		}

		.line2 {
			left: 570px;
		}


		.line3 {
			left: 645px;
		}

		.para p {
			left: 500px;
		}

		.resume {
			left: 490px;
		}

		.wrapper {
			left: 615px;
		}

		.thick-arrow-down {
			left: 628px;
		}
		
		/* Experiecne Page */

		.exp-right {
			width: 500px;
			animation: none;
			left: 325px;
		}

		.exp-left {
			width: 500px;
			animation: none;
		}

		.exp-right p {
			font-size: 30px;
			width: 400px;
		}

		.exp-left p {
			font-size: 20px;
			width: 375px;
		}

		
		/* Project Page */
		.project1 {
            width: 1050px;
        }

		.project2 {
            width: 1050px;
        }

		/* About Page */

		.text {
			width: 1050px;
		}

		#about p {
			left: 460px;
		}

		#about img {
			left: 75px;
		}

		/* Footer Page */

		.footer {
			width: 1255px;
		}
	
		#contact h2 {
			left: 950px;
		}
	
		#contact .lineCon {
			left: 950px;
		}
	
		#contact a {
			left: -550px;
		}
	
		#contact address {
			left: -550px;
		}
	}

	
	@media (min-width: 1300px) and (max-width: 1500px) {
		.name h1 {
			left: 580px;
		}

		.line2 {
			left: 670px;
		}


		.line3 {
			left: 745px;
		}

		.para p {
			left: 600px;
		}

		.resume {
			left: 590px;
		}

		.wrapper {
			left: 715px;
		}

		.thick-arrow-down {
			left: 728px;
		}
		
		/* Experiecne Page */

		.exp-right {
			width: 600px;
			left: 450px;
		}

		.exp-left {
			width: 600px;
		}

		.exp-right p {
			width: 450px;
			font-size: 30px;
		}

		.exp-left p {
			width: 450px;
			font-size: 20px;
		}

		/* Project Page */
		.project1 {
            width: 1250px;
        }

		.project2 {
            width: 1250px;
        }

		/* About Page */

		.text {
			width: 1250px;
		}

		#about p {
			left: 550px;
		}

		#about img {
			left: 150px;
		}

		/* Footer Page */

		.footer {
			width: 1450px;
		}
	
		#contact h2 {
			left: 1175px;
		}
	
		#contact .lineCon {
			left: 1175px;
		}
	
		#contact a {
			left: -325px;
		}
	
		#contact address {
			left: -325px;
		}
	}

	
	@media (min-width: 1500px) and (max-width: 1700px) {

		/*Home Page*/

		.name h1 {
			left: 680px;
		}

		.line2 {
			left: 770px;
		}


		.line3 {
			left: 845px;
		}

		.para p {
			left: 700px;
		}

		.resume {
			left: 690px;
		}

		.wrapper {
			left: 815px;
		}

		.thick-arrow-down {
			left: 828px;
		}

		/* Experiecne Page */

		.exp-right {
			width: 750px;
		}

		.exp-left {
			width: 750px;
		}

		/* Project Page */
		.project1 {
            width: 1450px;
        }

		.project2 {
            width: 1450px;
        }

		/* About Page */

		.text {
			width: 1450px;
		}

		#about p {
			left: 700px;
		}

		#about img {
			left: 300px;
		}

		/* Footer Page */

		.footer {
			width: 1675px;
		}

		#contact h2 {
			left: 1400px;
		}

		#contact .lineCon {
			left: 1400px;
		}

		#contact a {
			left: -100px;
		}

		#contact address {
			left: -100px;
		}
	}




 