/* Main Content */
.about-container {
  margin-left: 25%; /* Align content next to the sidebar (250px + 20px padding) */
  padding: 40px; /* Add padding for readability */
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  max-width: 1000px; /* Limit the width for better readability */
}

.about-header h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #dedede;
  font-family: monospace; /* Ensures uniform character width */
  white-space: pre; /* Preserves whitespace and line breaks */
}

.about-content p {
  margin-bottom: 15px;
  line-height: 1.6;
  color: #bababa;
}

/* Responsive Design */
@media (max-width: 870px) {
  .about-container {
    margin-left: 0%;
  }
}
