/* General Styles */
.static-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #1a1a1a;
  color: white;
  padding-left: 45px;
  padding-top: 70px;
  box-sizing: border-box;
  z-index: 1000;
}

.profile-info {
  border: 1px solid #454444;
  padding: 15px;
  max-width: 170px;
  margin-bottom: 25px;
}

.profile-info .pfp {
  width: 170px;
  text-align: center;
  margin-bottom: 8px;
}

.profile-info .name {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.profile-info .title {
  font-size: 17px;
  color: gray;
  text-align: center;
}

.sidebar {
  height: 100vh;
}

.sidebar ul {
  margin-top: 50px;
}

.sidebar ul,
.dropdown-content ul {
  list-style: none;
  padding: 0;
}

.sidebar li,
.dropdown-content li {
  margin: 15px 0;
  cursor: pointer;
}

.sidebar a,
.dropdown-content a {
  text-decoration: none;
  font-size: 19px;
  color: white;
  cursor: pointer;
}

.sidebar a:hover,
.dropdown-content a:hover {
  text-decoration: underline;
}

.social-media {
  margin-top: 5px;
  text-align: center;
}

.social-media img {
    height: 30px;
    width: 30px;
}

.social-media a {
    margin: 0 15px;
    transition: all .8s;
}

.resume {
  text-align: center;
  border: 1px solid #454444;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 10px;
}

/* Mobile Dropdown */
.dropdown-button {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 24px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.dropdown-content {
  display: none;
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  background-color: #1a1a1a;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  z-index: 1000;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown-content.show {
  display: flex;
}

@media (max-width: 870px) {
  .static-container {
    background-color: transparent;
  }

  .sidebar {
    display: none; /* Hide the sidebar on mobile */
  }

  .dropdown-button {
    display: block; /* Show dropdown button on mobile */
  }

  .social-media {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .social-media  a:first-of-type {
    margin-left: 0;
  }

  .resume {
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

